const Web3 = require("aion-web3");
let path = require('path');

// Set up web3
const web3 = new Web3(new Web3.providers.HttpProvider('http://<host>:8545'));
const pk = "<private_key>"

//Create contract interface
let abi = `$abi_str
`;

let abiObj = web3.avm.contract.Interface(abi);
web3.avm.contract.initBinding(null, abiObj, pk,web3);

async function deploy(##
    #foreach($initParam in $abi.clint)
        #if(!$foreach.first), #end##
arg$foreach.count##
    #end)

    //contract
    let jarPath = path.join(__dirname,'$jar');

    //deploy
    let res = await  web3.avm.contract.deploy(jarPath).args([##
        #foreach($initParam in $abi.clint)
            #if(!$foreach.first),#end##
arg$foreach.count##
        #end]).initSend();

    console.log(res);
    console.log("Contract Address: " + res.contractAddress);
    return res;
}

deploy();


